
$buttonHeight: 22px;

$resizerColor: #66b0ff;

$buttonSourceColor: #E6E6E6;

$buttonMaximizeColor: #E6E6E6;
$buttonCloseColor: #ff9d97;

$buttonRevertColor: #E6E6E6;
$buttonSaveColor: #66b0ff;


/*
 * Functional
 */

.wrapper.maximized {
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647 !important;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;

  .resizer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
  }

  .header {
    flex-grow: 0;
    flex-basis: $buttonHeight;
    display: flex;
    flex-direction: row;

    .frontTabbar {
      flex-grow: 0;
      flex-basis: 35px;
    }

    .backTabbar {
      flex-grow: 0;
      flex-basis: 80px;
      text-align: right;
    }

    .title {
      flex-grow: 1;

      div {
        position: relative;
        top: 2px;
      }
    }
  }

  .tabView, .tabSource {
    flex-grow: 1;
    left: 0px;
    width: 100%;
  }

  .tabView {
    overflow-y: auto;
  }

  .tabSource {
    display: flex;
    flex-direction: column;

    textarea {
      flex-grow: 1;
      resize: none;
    }

    .buttons {
      flex-grow: 0;
      flex-basis: $buttonHeight;
      width: 100%;
    }
  }
}


/*
 * Design
 */

.wrapper {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: white;

  .resizer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent $resizerColor transparent;
    cursor: se-resize;
  }

  .header {
    border-bottom: 1px solid lightgray;
    cursor: move;

    .backTabbar {
      text-align: right;
    }

    .title {
      div {
        font-weight: bold;
      }
    }

    .pure-button {
      font-size: 60%;
    }
    .pure-button.source {
      background-color: $buttonSourceColor;
    }
    .pure-button.maximize {
      background-color: $buttonMaximizeColor;
    }
    .pure-button.close {
      background-color: $buttonCloseColor;
    }
  }

  .tabView {
    padding-left: 5px;
    padding-right: 5px;
  }

  .tabSource {
    textarea {
      font-size: 12px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .buttons {
      .pure-button {
        font-size: 75%;
        font-weight: bold;
      }
      .pure-button.revert {
        background-color: $buttonRevertColor;
      }
      .pure-button.save {
        background-color: $buttonSaveColor;
      }
    }
  }
}
