<div class="wrapper {{maximized ? 'maximized' : ''}}"
    [style.left.px]="x"
    [style.top.px]="y"
    [style.width.px]="width"
    [style.height.px]="height"
    [style.z-index]="zindex"
    (document:mouseup)="mouseUp($event)"
    (document:mouseleave)="mouseLeave($event)"
    (document:mousemove)="mouseMove($event)">

  <!-- Resizer -->
  <div *ngIf="!maximized && isViewActive" class="resizer"
      (mousedown)="resizerMouseDown($event)">
  </div>

  <!-- Header -->
  <div class="header"
      (mousedown)="headerMouseDown($event)">
    <div class="frontTabbar pure-button-group"
        role="group">
      <button class="pure-button source {{isSourceActive ? 'pure-button-active' : ''}}"
          (click)="toggleSource()">
        <i class="fa fa-code"></i>
      </button>
    </div>
    <div class="title">
      <div>{{page.title}}</div>
    </div>
    <div class="backTabbar pure-button-group" role="group">
      <button
          *ngIf="!isMobile"
          class="pure-button maximize {{maximized ? 'pure-button-active' : ''}}"
          (click)="toggleMaximize()">
        <i class="fa fa-window-maximize"></i>
      </button>
      <button
          class="pure-button close"
          (click)="close()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <!-- Content View -->
  <div *ngIf="isViewActive" class="tabView">
    <markdown [rawText]="page.content"></markdown>
  </div>

  <!-- Source View -->
  <div *ngIf="isSourceActive" class="tabSource pure-form">
    <textarea
        class="pure-input-1"
        placeholder="Textareas work too"
        (change)="textAreaChange($event)"
        [value]="floatingSource">
    </textarea>
    <div class="buttons pure-g">
      <div class="pure-u-1-3">
        <button
            type="submit"
            class="pure-button revert pure-input-1"
            (click)="revert()">
          <i class="fa fa-undo"></i>
          Revert
        </button>
      </div>
      <div class="pure-u-1-3">
      </div>
      <div class="pure-u-1-3">
        <button
            type="submit"
            class="pure-button save pure-input-1"
            (click)="save()">
          <i class="fa fa-hdd-o"></i>
          Save
        </button>
      </div>
    </div>
  </div>

</div>
