
h1, p, a, a:hover, a:visited, a:active {
  color: lightgray;
  text-decoration: none;
}

h1, p {
  margin-left: 20px;
}

.active {
  cursor: pointer;
}

.datafield, .importbutton {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  border: 0px;
}
.datafield {
  background-color: lightgray;
  color: darkgray;
  height: 200px;
  resize: none;
}

.importbutton {
  background-color: darkgray;
  color: lightgray;
}
